*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: sans-serif;
}

.team{
  background: #f9f9f9;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.team h3{
  font-size: 28px;
  margin-bottom: 15px;
}

.team .after{
  font-size: 18px;
  margin-bottom: 40px;
}

.after:after{
  content: '';
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 3px;
  background: #20BDFF;
}

.contenedor-team{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.people{
  width: 27%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  overflow: hidden;
  height: 400px;
  position: relative;
}

.people img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-people{
  background: #20BDFF;
  opacity: .8;
  position: absolute;
  height: 13%;
  width: 100%;
  padding: 15px;
  bottom: 0;
  z-index: 2;
  color: #fff;
  transition: .7s;
}

.texto-people:hover{
  opacity: 1;
}

.texto-people h4{
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 15px;
}

.texto-people h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.people:hover .texto-people{
  height: 40%;
}

.social span{
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;
  transition: .2s;
}

.social span:last-child{
  margin-right: 0px;
}

.social span:hover{
  font-size: 40px;
}

@media screen and (max-width: 1000px){
  .people{
    width: 35%;
    margin-bottom: 30px;
  }

  .people:last-child{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 750px){
  .people{
    width: 90%;
  }
}

@media screen and (max-width: 300px){
  .people:hover .texto-people{
    height: 52%;
  }

  .social span{
    width: 40%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .social span:last-child{
    margin-bottom: 25px;
  }
}